:root {
    --main-color: rgb(253,217,141);
    --second-color: black;
    --third-color: #333;
    --fourth-color: #f2a86f;
    --fifth-color: white;
}
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../files/fonts/Ubuntu-Regular.ttf');
}
header {
    font-family: 'Ubuntu';
    padding: 1em;
    text-align: center;
    background-color: var(--main-color);
    color: var(--second-color);
    font-weight: bold;
}
body {
    font-family: 'Ubuntu';
    /*background-image: url("../files/img/prewallpapper.png");*/
    overflow-x: hidden;
}
/*--------------------------------------*/
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.top1 {
    margin-top: 1vh;
}
.bottom1 {
    margin-bottom: 1vh;
}
.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.green {
    color: green;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}
.black {
    color: black;
}
.yellow {
    color: yellow;
}
.grey {
    color: grey;
    background-color: transparent;
}
.violet {
    color: violet;
}
.yellow {
    color: yellow;
}
.darkgreen {
    color: darkgreen;
}
.main {
    color: var(--main-color);
}
.hidden {
    visibility: hidden;
    width: 0%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
/*--------------------------------------*/
nav {
    padding: 0.5em;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    display: block;
    color: #f2a86f;
    padding: 0.5em;
    font-weight: bold;
    transition: color 0.2s;
}
a:hover {
    color: black;
    transition: color 0.2s;
}
/*--------------------------------------*/
.page-content {
    padding: 0.5em;
}
.line {
    border-bottom: solid 1px lightgray;
}
/*--------------------------------------*/
.entry-container {
    padding: 0.5em;
    max-width: 700px;
}
.element {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    border: solid 1px black;
    overflow: hidden;
}
.time-name {
    width: 35%;
}
.update-example {
    width: 65%;
    padding-left: 0.5em;
}
.time-example {
    margin-left: 0.5em;
}
.time-title {
    text-align: left;
}
.build {
    padding: 0.5em;
    padding-left: 1.5em;
    font-weight: bold;
}
mark {
    background-color: transparent;
    font-weight: bold;
}
.translate {
    color: gray;
}

/*--------------------------------------*/
h2 {
    margin-top: 0.5em;
    font-size: 2em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.5em;
}
ul {
    list-style-type: none;
}
h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2 p {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/*--------------------------------------*/
#tensesmenu {
    position: fixed;
    top: 12vh;
    right: 0px;
    left: auto;
    width: 200px;
    height: 40vh;
}
.time-name a {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}
.time-name a:hover {
    color:#f2a86f;
    transition: color 0.2s;
}
.words-list li {
    margin-bottom: 0.4em;
}
/*--------------------------------------*/
footer {
    text-align: center;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 0.5em;
}
/*--------------------------------------*/
.date {
    color: gray;
}
/*-----------------WORDFORMATION.html---------------------*/
.word-formation {
    width: 98%;
}
.word-formation ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5em;
}
.word-formation ul li .prefix {
    width: 35%;
    font-weight: bold;
}
.word-formation ul li .example {
    width: 60%;
    margin-left: 5%;
    font-weight: bold;
}
.word-formation ul li .prefix-container {
    width: 35%;
}
.word-formation ul li .prefix-container .desc {
    color: gray;
}
/*--------------------------------------*/
#widgets {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}
#instagram, #facebook, #search, #account {
    width: 3vw;
    height: 3vh;
}
/*--------------------------------------*/
.quote {
    font-style: italic;
    padding: 0.5em
}
/*--------------------------------------*/
#flags {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}
#flags img {
    width: auto;
    height: 50px;
    margin-right: 0.5em;
}
/*--------------------------------------*/
.searchmusic {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}
.searchmusic .searchbox {
    font-family: 'Ubuntu';
    padding: 1em;
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 2vh;
    font-weight: bold;
    border: none;
}
.searchmusic .submit {
    padding: 0.5em;
    font-family: 'Ubuntu';
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 2vh;
    font-size: 1.2em;
    margin-top: 1vh;
    font-weight: bold;
    border: none;
}
#playlist {
    margin-bottom: 0.5em;
}
.convertdesc {
    margin-bottom: 0.5em;
}
/*--------------------------------------*/
iframe {
    border-radius: 2vh;
    margin-top: 0.5em;
}
/*--------------------------------------*/
.time-element-container h2 {
    margin: 1vh 0 0 0;
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid lightgrey;
}
.time-element-container h3 {
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid lightgrey;
}
.time-element-container .desc {
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid lightgrey;
}
.time-element-container .build {
    padding: 1vh 0 1vh 0;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}
.time-element-container .element {
    display: flex;
    flex-direction: row;
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid lightgrey;
}
.time-element-container .time-title {
    width: 30%;
}
.time-element-container li {
    padding: 1vh 0 1vh 0;
    border-bottom: 1px solid lightgrey;
}
.time-element-container .time-example{
    padding: 1vh 0 0 1vw;
}
/*--------------------------------------*/
@media screen and (min-width: 200px) {
    #tensesmenu {
        visibility: hidden;
    }
    #mobile-widgets {
        visibility: visible;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        background-color: var(--main-color);
        color: var(--second-color);
    }
    #mobile-widgets a {
        padding: 0.5em;
        background-color: var(--main-color);
        text-decoration: none;
        color: var(--second-color);
        font-weight: bold;
    }
    .page-container {
        padding-left: 0%;
        padding-right: 0%;
    }
    nav#menu {
        margin-left: 0%;
        margin-right: 0%;
    }
    .element {
        padding: 0.5em;
    }
}
@media screen and (min-width: 1050px) {
    #tensesmenu {
        visibility: visible;
    }
    #mobile-widgets {
        visibility: hidden;
    }
    .page-container {
        padding-left: 10%;
        padding-right: 10%;
    }
    nav#menu {
        margin-left: 10%;
        margin-right: 10%;
    }
    .element {
        padding: 0.5em;
    }
}

/*--------------------------------------*/
.switch {
    position: absolute;
    right: 1vw;
    top: 2vh;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-color);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(253,217,141);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/*--------------------------------------*/
/*--------------------------------------*/
#alertbox-container {
    position:fixed;
    top: 0px;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    text-align: center;
}
#alertbox-container #alertbox {
    margin: auto;
    width: 40%;
    height: 10vh;
    margin-top: 10vh;
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 2vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
}
#alertbox-container #alertbox div {
    margin: auto;
    width: 40%;
}
#alertbox-container #alertbox div input {
    font-family: 'Ubuntu';
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 0.5vh;
    font-size: 2vh;
    border-radius: 1vh;
    font-weight: bold;
    transition: .3s;
}
#alertbox-container #alertbox div input:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    transition: .3s;
}
/*--------------------------------------*/
/*--------------------------------------*/
.stats-container {
    width: 100%;
    background-color: var(--main-color);
    border-radius: 1vh;
    margin-top: 1vh;
}
.stats-container .stats, .status {
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 1vh;
}
.stats-container .stats p {
    padding: 0.5vh;
    width: 45%;
    color: var(--second-color);
}
.stats-container .status p {
    padding: 0.5vh;
    width: 20%;
    color: var(--second-color);
}
.stats-container .stats .value {
    width: 55%;
    background-color: white;
    border-radius: 1vh;
}
.stats-container #status-type {
    width: 80%;
    background-color: white;
    border-radius: 1vh;
}
/*--------------------------------------*/
/*--------------------------------------*/
.files-container {
    padding-left: 1vh;
    padding-right: 1vh;
}
.files-container .file {
    background-color: var(--main-color);
    padding: 2vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
}
.files-container .file a {
    text-decoration: none;
    color: var(--second-color);
    font-size: 2vh;
    width: 30%;
    text-align: center;
    font-weight: bold;
}
.files-container .file .desc {
    color: var(--second-color);
    width: 70%;
}
/*--------------------------------------*/
.link {
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 1vh;
    border-radius: 1vh;
    font-weight: bold;
    margin-right: 0.5vw;
}
.link:hover {
    background-color: var(--third-color);
    color: var(--main-color);
}
/*--------------------------------------*/
.irregular-element-container .element {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px lightgray solid;
}
.irregular-element-container .element p {
    width: 25%;
    text-align: center;
}
.irregular-element-container .element div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.irregular-element-container .element div p {
    width: 100%;
}
#searchword input {
    font-family: 'Ubuntu';
    padding: 1vh;
    background-color: var(--main-color);
    color: var(--second-color);
    border: 0;
    border-radius: 1vh;
    font-size: 1em;
    font-weight: bold;
}
#searchelement {
    width: 94%;
}
/*--------------------------------------*/